header {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 12px;
    padding: 5px 20px;
    margin: 20px 0;
    text-align: center;
}

footer {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 12px;
    padding: 5px 20px;
    margin: 20px 0;
    text-align: center;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}
